<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="pl">
<head>
  <title th:text="#{email.draw.title}">Wylosowana osoba</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
  <h2 th:text="#{email.greeting(${userName})}">
    {imię} {nazwisko}
  </h2>
  <h4 th:text="#{email.draw.page}">
    Strona Holiday Drawing wylosowała dla Ciebie
  </h4>
  <h4 th:text="#{email.draw.person(${drawUserName})}">
    {imię} {nazwisko}
  </h4>
   <p th:text="#{email.draw.footer}" style="font-size: 12px">
     Ta wiadomość została wygenerowana automatycznie, prosimy nie odpowiadać na nią.
   </p>
</body>
</html>
